@tailwind base;
@tailwind components;
@tailwind utilities;

/* Keyframes for smooth infinite scroll */
@keyframes infinite-scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
  
  /* Hide the scrollbar for a clean effect */
  .scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
  