@tailwind base;
@tailwind components;
@tailwind utilities;

/* Keyframes for smooth infinite scroll */
@keyframes infinite-scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
  
  /* Hide the scrollbar for a clean effect */
  .scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
  body{
    overflow-x: hidden;
  }
  
  /* Hide scrollbar for the entire browser window */
  html {
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer and Edge */
  }
  
  html::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }